@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}

.homePage {
	background: #222222;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.header {
	background: #0789A6;
	color: white;
	text-align: center;
	margin: 0px;
	padding: 0;
	float: left;
	width: 100%;
	height: 100px;
	font-family: 'Righteous', cursive;
	font-size: larger;
	vertical-align: middle;
}

.nav {
	display: table;
	display: table-cell;
	background: #F7941D;
	color: white;
	margin: 0px;
	padding: 0;
	float: left;
	width: 960px;
	height: 60px;
	text-align: center;
	font-family: 'Righteous', cursive;
	vertical-align: middle;
}

.content {
	background: #EEEEEE;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: larger;
	line-break: loose;
}

.acontent {
	background: #EEEEEE;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}

.amcontent {
	background: #EEEEEE;
	float: left;
	width: 100%;
	text-align: left;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: xx-large;
	height: 936px;
}

.footer {
	background: #0789A6;
	color: white;
	margin: 0px;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
	font-family: 'Righteous', cursive;
}

a:link {
	 color: #ffffff;
	 text-decoration: none;
}

a:visited {
	 color: #fff;
	 text-decoration: none;
}

a:hover, a:focus {
	font-size: larger;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.ptitle {
	font-family: 'Jaldi', sans-serif;
	font-weight: bold;
	text-align: center;
}
